.link
  position: fixed
  text-decoration: none
  text-align: center
  img
    transition: all .1s
    height: 50px
  .tooltip
    text-transform: uppercase
    color: white
    background-color: rgba(#0, 0.7)
    border-radius: 7px
    padding: 7px

    display: none
  &:hover
    img
      height: 75px
    .tooltip
      display: block

#bop
  top: 30%

#keybase
  top: 37%
  left: 41%
  @media screen and (max-width: 1300px)
    left: 34%
  @media screen and (max-width: 800px)
    left: 23%

#email
  top: 37%
  right: 41%
  @media screen and (max-width: 1300px)
    right: 34%
  @media screen and (max-width: 800px)
    right: 23%

#github
  bottom: 43%
  right: 40%
  @media screen and (max-width: 1300px)
    right: 31%
  @media screen and (max-width: 800px)
    right: 20%

#mastodon
  bottom: 30%
  left: 45%
  @media screen and (max-width: 1300px)
    left: 39%
  @media screen and (max-width: 800px)
    left: 32%

#twitter
  bottom: 30%
  right: 45%
  @media screen and (max-width: 1300px)
    right: 39%
  @media screen and (max-width: 800px)
    right: 32%

#youtube
  bottom: 43%
  left: 40%
  @media screen and (max-width: 1300px)
    left: 31%
  @media screen and (max-width: 800px)
    left: 20%