#bop
  top: 30%

#discord
  top: 37%
  left: 41%

#email
  top: 37%
  right: 41%

#github
  bottom: 43%
  right: 40%

#mastodon
  bottom: 30%
  left: 45%

#twitter
  bottom: 30%
  right: 45%

#youtube
  bottom: 43%
  left: 40%