#bop
  top: 30%

#discord
  top: 37%
  left: 41%
  @media screen and (max-width: 1300px)
    left: 34%
  @media screen and (max-width: 800px)
    left: 23%

#email
  top: 37%
  right: 41%
  @media screen and (max-width: 1300px)
    right: 34%
  @media screen and (max-width: 800px)
    right: 23%

#github
  bottom: 43%
  right: 40%
  @media screen and (max-width: 1300px)
    right: 31%
  @media screen and (max-width: 800px)
    right: 20%

#mastodon
  bottom: 30%
  left: 45%
  @media screen and (max-width: 1300px)
    left: 39%
  @media screen and (max-width: 800px)
    left: 32%

#twitter
  bottom: 30%
  right: 45%
  @media screen and (max-width: 1300px)
    right: 39%
  @media screen and (max-width: 800px)
    right: 32%

#youtube
  bottom: 43%
  left: 40%
  @media screen and (max-width: 1300px)
    left: 31%
  @media screen and (max-width: 800px)
    left: 20%